---
version: "3.7"

services:

  homelabapi:
    image: homelabapi/homelabapi:latest
    container_name: homelabapi
    environment:
      - PUID=1001
      - PGID=1001
      - TZ=America/Vancouver
    ports:
      - "8090:80"
    restart: unless-stopped
    volumes:
      - ./config.yaml:/code/app/config.yaml
