<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/assets/swagger-ui.css">
    <link rel="shortcut icon" href="/assets/favicon.png">
    <title>{{ api_title }}</title>
</head>
<body>
<div id="swagger-ui">
</div>
<script src="/assets/swagger-ui-bundle.js"></script>
<!-- `SwaggerUIBundle` is now available on the page -->
<script>
    const ui = SwaggerUIBundle({
        url: '/openapi.json',
        "dom_id": "#swagger-ui",
        "layout": "BaseLayout",
        "deepLinking": true,
        "showExtensions": true,
        "showCommonExtensions": true,
        oauth2RedirectUrl: window.location.origin + '/docs/oauth2-redirect',
        presets: [
            SwaggerUIBundle.presets.apis,
            SwaggerUIBundle.SwaggerUIStandalonePreset
        ],
    })
</script>
</body>
</html>
